div::before {
  content: url("/css/alert_lrg.gif");
}
.one {
  background-color: red;
  transform: translate(90px, 100px) scale(.25
  );
}
.two {
  background-color: yellow;
  transform: translate(90px, 100px) scale(.5);
}
.three {
  background-color: pink;
  transform: translate(90px, 100px) scale(.75);
}
.four {
  background-color: blue;
  transform: translate(90px, 100px) scale(1);
}
.five {
  background-color: purple;
  transform: translate(90px, 100px) scale(2) rotate(180deg);
}
.six {
  background-color: black;
  transform: translate(90px, 100px) scale(2) skew(8deg, 15deg);
}
.seven {
  background-color: white;
  transform: translate(90px, 100px) scale(.5);
}
.eight {
  background-color: gray;
  transform: translate(90px, 100px) scale(.5);
}
.nine {
  background-color: magenta;
  transform: translate(90px, 100px) scale(.5);
}
