.herodiv {
    opacity: .5;
    background-image: url("/TurkeyImage.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}
.hero p {
  text-align: center;
  color: black;
  font-size:  100px;
  opacity: 1;
  text-shadow: 0 6px 4px green,
  0 10px 4px blue;
}
.hunting {
  color:red;
  opacity: .3;
}
.fishing {
  color: blue;
  opacity: .5;
}
.parks {
  color: green;
  opacity: .9;
}
