body {
  background-image: url('/popTartCat.gif');
  background-repeat: repeat;
 }
 div {
   font-family: 'Courier New';
   font-size: x-large;
   font-weight: 700;
   left: 100px;
   text-align: center;
   line-height: 85px;
   font-size: 70px;
   color: blue;
   text-shadow:
   0 1px red,
   0 2px white,
   0 3px blue,
   0 4px red,
   0 5px white,
   0 6px  1px  rgba(0, 0, 0, 0.1),
   0 0    5px  rgba(0, 0, 0, 0.1),
   0 1px  3px  rgba(0, 0, 0, 0.3),
   0 3px  5px  rgba(0, 0, 0, 0.2),
   0 5px  10px rgba(0, 0, 0, 0.25),
   0 10px 10px rgba(0, 0, 0, 0.2),
   0 20px 20px rgba(0, 0, 0, 0.15); }
